body {
  margin: 0;
}
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/parallax-bg.jpg);
  background-size: cover;
}
canvas p{
  font-size: 200px;
  color: red;
  font-weight: bold;
  position: absolute;
  z-index: 10000;
}
nav{
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.big{
  padding-top: 50px;
}