body{
    margin: 0;
}
header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background: #000;
}
p{
    font-size: 10px;
    line-height: 10px;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0);
    background-image: url(../img/home-bg-1.jpg);
}